html {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

header {
    background-color: #010d1b;
    display: flex;
    padding: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}

footer {
    background-color: #000d27;
    padding: 0.8rem;
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

label {
    width: 80px;
    margin-left: 1rem;
    text-align: left;
}

input,
textarea {
    margin-top: 0.3rem;
}

.formLabel {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}


.navNavegation {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.navNavegation li {
    margin-right: 1rem;
}

.navNavegation li a {
    color: #2adcd2;
    text-decoration: none;
    display: block;
    font-weight: bold;
    transition: transform 0.3s, color 0.3s;
}

.navNavegation a:hover {
    transform: scale(1.2);
    color: #0098f7;
}

.navNavegation a:active {
    transform: scale(1);
    color: #0069aa;
}

.socialIcons {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    flex-direction: column;
    gap: 0.5rem;
}

.socialIcons i {
    color: #2adcd2;
    font-size: 1.3rem;
    transition: transform 0.3s, color 0.3s;
}

.socialIcons i:hover {
    transform: scale(1.2);
    color: #0098f7;
}

.socialIcons i:active {
    transform: scale(1);
    color: #0069aa;
}

#videoAd {
    width: 50%;
}

#formButton button {
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #0098f7;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

#formButton button:hover {
    background-color: #007ad1;
}

#formButton button:active {
    background-color: #005fa3;
}

#logo {
    width: 13rem;
    z-index: 1;
}

#imageFooter {
    margin-top: 1.5rem;
    width: 40%;
    z-index: 1;
}