/*Estilos generales*/
html {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #a5b5c7;
}

header,
main,
section,
footer {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 1rem;
    box-sizing: border-box;
}

header {
    position: fixed;
    z-index: 1;
    justify-content: flex-start;
    width: 100%;
    height: 8rem;
    background-color: #010d1b;
    border-bottom: 2px solid #0098f7;
}

main {
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    padding-top: 10rem;
    background-color: #a5b5c7;
}

section {
    margin-bottom: 1rem;
    padding: 2rem;
    background-color: #dfdfdf;
    border-radius: 1rem;
    border-bottom: 2px solid #2adcd2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

footer {
    position: relative;
    justify-content: center;
    background-color: #000d27;
    border-top: 2px solid #0098f7;

}

nav {
    display: flex;
    flex: 1;
    justify-content: center;
}

label {
    margin-left: 1rem;
    width: 80px;
    text-align: left;
}

input,
textarea {
    margin-top: 0.3rem;
}

a {
    display: block;
    font-weight: bold;
    text-decoration: none;
}

ul {
    list-style: none;
}

/*Barra de navegación*/
.navNavegation {
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.navNavegation li {
    margin-right: 1rem;
}

.navNavegation a {
    color: #2adcd2;
    transition: transform 0.3s, color 0.3s;
}

.navNavegation a:hover {
    color: #0098f7;
    transform: scale(1.2);
}

.navNavegation a:active {
    color: #0069aa;
    transform: scale(1);
}

/*Títulos de secciones*/
.titleSection {
    margin-bottom: 2rem;
    margin-left: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}

/*Sección de video*/
.sectionVideo {
    justify-content: center;
    align-items: center;
    width: fit-content;
}

/*Sección de productos*/
.sectionProducts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.conteinerCardSectionProducts {
    display: grid;
    row-gap: 2rem;
    column-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    place-items: inherit;
    width: 100%;
}

.cardSectionProducts {
    display: flex;
    flex-direction: column;
    width: 12rem;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
}

.imgSectionProducts {
    padding: 1rem;
    background-color: #0069aa;
    border-radius: 1rem;
}

.imgSectionProducts img {
    display: block;
    max-width: 100%;
}

.textSectionProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.titleSectionProducts {
    font-size: 0.8rem;
    text-align: center;
}

.priceSectionProducts {
    font-size: 1rem;
    font-weight: bold;
}

.buttonSectionProducts {
    margin: auto;
    padding-bottom: 1rem;
}

.buttonSectionProducts button {
    padding: 0.5rem;
    width: 10rem;
    font-weight: bold;
    color: white;
    background-color: #0098f7;
    border: 2px solid #0098f7;
    border-radius: 1rem;
    transition: color 0.3s, background-color 0.3s;
    cursor: pointer;
}

.buttonSectionProducts button:hover {
    color: #0098f7;
    background-color: white;
    border: 2px solid #0098f7;
}

.buttonSectionProducts button:active {
    color: white;
    background-color: #0098f7;
    border: 2px solid #0098f7;
}

/*Sección de reseñas*/
.sectionReview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.conteinerCardSectionReview {
    display: grid;
    row-gap: 2rem;
    column-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    place-items: inherit;
    width: 100%;
}

.cardSectionReview {
    display: flex;
    flex-direction: column;
    width: 12rem;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
    transition: transform 0.3s;
}

.cardSectionReview:hover {
    transform: translateY(-5%);
}

.imgSectionReview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
}

.imgSectionReview img {
    display: block;
    margin: auto;
    max-width: 60%;
}

.textSectionReview {
    display: flex;
    flex-direction: column;
}

.topTextSectionReview {
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.topTextSectionReview div {
    display: flex;
    gap: 0.1rem;
}

.topTextSectionReview i {
    font-size: 0.8rem;
    color: #0069aa;
}

.topTextSectionReview span {
    font-size: 0.6rem;
    color: #818181;
}

.downTextSectionReview {
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 0.85rem;
    ;
}

/*Sección de footer*/
.socialIcons {
    display: flex;
    position: absolute;
    top: 40%;
    right: 2rem;
    flex-direction: column;
    align-items: end;
    gap: 0.5rem;
    color: #0098f7;
    transform: translateY(-40%);
}

.socialIcons {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.socialIcons ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    margin: 0;
}

.socialIcons i {
    font-size: 1.3rem;
}

.socialIcons a {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 0.9rem;
    color: #2adcd2;
    transition: transform 0.3s, color 0.3s;
}

.socialIcons a:hover {
    color: #0098f7;
    transform: scale(1.2);
}

.socialIcons a:active {
    color: #0069aa;
    transform: scale(1);
}

/*Sección de formulario (contact.html)*/
.sectionForm {
    width: 100%;
}

.sectionForm form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.topConteinerSectionForm {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.topConteinerSectionForm label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0rem 1rem 0rem 1rem;
    width: 100%;
}

.topConteinerSectionForm div {
    display: flex;
    width: 50%;
}

.topConteinerSectionForm input {
    height: 1.5rem;
}

.downConteinerSectionForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.downConteinerSectionForm label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0rem 1rem 0rem 1rem;
    width: 100%;
}

.downConteinerSectionForm div {
    display: flex;
}

.downConteinerSectionForm textarea {
    height: 6rem;
    resize: none;
}



/*Anclas*/
#home,
#products {
    position: relative;
    top: -8rem;
}

#videoAd {
    width: 35rem;
    height: auto;
}

#formButton {
    display: flex;
    justify-content: end;
    margin-right: 1rem;
}

#formButton button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: white;
    background-color: #0098f7;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

#formButton button:hover {
    background-color: #007ad1;
}

#formButton button:active {
    background-color: #005fa3;
}

#logo {
    z-index: 1;
    width: 13rem;
}

#imageFooter {
    z-index: 1;
    margin-top: 1.5rem;
    width: 40%;
}