html {
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
    background-color: #a5b5c7;
}

header,
main,
section,
footer {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 1rem;
    box-sizing: border-box;
}

header {
    justify-content: flex-start;
    background-color: #010d1b;
    border-bottom: 2px solid #0098f7;
}

main {
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    background-color: #a5b5c7;
}

section {
    margin-bottom: 1rem;
    padding: 2rem;
    background-color: #dfdfdf;
    border-radius: 1rem;
    border-bottom: 2px solid #2adcd2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

footer {
    position: relative;
    justify-content: center;
    background-color: #000d27;
    border-top: 2px solid #0098f7;

}

nav {
    display: flex;
    flex: 1;
    justify-content: center;
}

label {
    margin-left: 1rem;
    width: 80px;
    text-align: left;
}

input,
textarea {
    margin-top: 0.3rem;
}

.formLabel {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    max-width: 500px;
}


.navNavegation {
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navNavegation li {
    margin-right: 1rem;
}

.navNavegation li a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: #2adcd2;
    transition: transform 0.3s, color 0.3s;
}

.navNavegation a:hover {
    color: #0098f7;
    transform: scale(1.2);
}

.navNavegation a:active {
    color: #0069aa;
    transform: scale(1);
}

.socialIcons {
    display: flex;
    position: absolute;
    top: 50%;
    right: 2rem;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    transform: translateY(-50%);
}

.socialIcons i {
    font-size: 1.3rem;
    color: #2adcd2;
    transition: transform 0.3s, color 0.3s;
}

.socialIcons i:hover {
    color: #0098f7;
    transform: scale(1.2);
}

.socialIcons i:active {
    color: #0069aa;
    transform: scale(1);
}

#sectionLabel {
    width: 100%;
    max-width: 500px;
}

#sectionVideo {
    justify-content: center;
}

#videoAd {
    width: 50%;
}

#formButton button {
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #0098f7;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

#formButton button:hover {
    background-color: #007ad1;
}

#formButton button:active {
    background-color: #005fa3;
}

#logo {
    z-index: 1;
    width: 13rem;
}

#imageFooter {
    z-index: 1;
    margin-top: 1.5rem;
    width: 40%;
}